* {
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto',
        sans-serif;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.banner {
    position: relative;
    display: flex;
    width: 100%;
    height: 100vh;
    flex-wrap: wrap;
    background-color: #111;
    overflow: hidden;
}

.banner-slider {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    padding: 0;
    width: 200%;
    height: 100%;
    animation: bannerSlider 10s infinite alternate;
}

@keyframes bannerSlider {
    0% {
        margin-left: 0;
    }

    25% {
        margin-left: 0;
    }

    50% {
        margin-left: 0;
    }

    75% {
        margin-left: -100%;
    }

    100% {
        margin-left: -100%;
    }
}

.banner-slider li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.banner-slider li img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.7);
}

.info-banner {
    position: relative;
    width: 60%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-left: 5em;
    margin-top: 13em;
}

.info-banner h1 {
    position: relative;
    width: 100%;
    height: auto;
    font-size: 2.4em;
    font-weight: 400;
    color: #fff;
    margin-bottom: 1.5em;
}

.info-banner h1::before {
    position: absolute;
    content: "";
    bottom: -10px;
    left: 0;
    width: 80px;
    height: 4px;
    background-color: #0079D4;
}

.info-banner h4 {
    position: relative;
    width: 70%;
    height: auto;
    font-size: 1.2em;
    margin-bottom: 2em;
    font-weight: 400;
    color: #fff;
    font-style: italic;
}

.links-banner {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.links-banner a {
    position: relative;
    width: 190px;
    height: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 1.2em;
    font-weight: 400;
    border-radius: 3px;
}

.info-banner .servicios {
    background-color: #0079D4;
    border: 2px solid #0079D4;
    margin-right: 5px;
}

.servicios:hover {
    background-color: transparent;
    transition-duration: .3s;
}

.info-banner .presupuesto {
    background-color: transparent;
    border: 2px solid #fff;

}

.presupuesto:hover {
    background-color: #fff;
    color: #111;
    transition-duration: .3s;
}

.navegation {
    display: flex;
    position: fixed;
    flex-direction: row;
    width: 100%;
    height: 70px;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    z-index: 1111;
}

.navegation::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(20px);
    z-index: 0;
}

.navegation.scroll {}

.navegation.active {
    width: 100%;
    height: 100vh;
}

.links-right.active {
    position: absolute;
    top: 25%;
    left: 0;
    right: 0;
    margin: 0 auto;
    flex-direction: column;
    text-align: center;
    padding: 0;
}

.links-right.active li {
    margin-bottom: 1em;
    justify-content: center;
    align-items: center;
}

.links-right.active li a {
    font-size: 2.2em;
    margin-left: 0;
}

.toggle.active {
    bottom: 25%;
    font-size: 2em;
    display: flex;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.logo.active {
    display: none;
}

.logo {
    display: flex;
    position: relative;
    height: auto;
    justify-content: center;
    margin: 15px;
    color: #fff;
    font-size: 2.5em;
    font-weight: 500;
}

.logo:hover {
    cursor: pointer;
}

.links-right {
    display: flex;
    position: relative;
    flex-direction: row;
    height: auto;
    margin: 15px;
    color: #fff;
}

.links-right a:hover {
    color: #0079D4;
}

.links-right li a {
    margin-left: 25px;
    color: #fff;
    font-size: 1em;
}

.toggle {
    display: flex;
    justify-content: center;
    font-size: 1.8em;
    position: absolute;
    left: 90%;
    color: #fff;
    display: none;
}

.content {
    display: flex;
    position: relative;
    width: 100%;
    height: 100vh;
}

.content img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-size: cover;
    filter: brightness(0.6);
}

.infoSections {
    display: flex;
    flex-direction: column;
    margin-top: 13em;
    margin-left: 5em;
    position: relative;
    width: 60%;
    height: 300px;
}

.Placas .infoSections {
    margin-left: 28em;
    align-items: flex-end;
}

.infoSections h3 {
    display: flex;
    position: relative;
    font-size: 2.6em;
    font-weight: 400;
    color: #fff;
    margin-bottom: 0.6em;
}

.infoSections p {
    display: flex;
    position: relative;
    font-size: 1.1em;
    font-style: italic;
    color: #fff;
    margin-bottom: 2em;
    width: auto;
}

.infoSections a {
    border-radius: 3px;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    background-color: #0079D4;
    width: 190px;
    height: 46px;
    color: #fff;
    border: 2px solid #0079D4;
}

.infoSections a:hover {
    background-color: transparent;
    transition-duration: .3s;
}

footer {
    position: relative;
    width: 100%;
    height: 300px;
    background-color: #111;
}



/*-------------------------------------------
 ---------------- Responsive ----------------
 --------------------------------------------*/
@media screen and (max-width: 760px) {
    .info-banner {
        margin-left: 4em;
        margin-top: 11em;
    }

    .info-banner h1 {
        font-size: 2.1em;
        margin-bottom: 1.5em;
    }

    .info-banner h1::before {
        width: 100px;
    }

    .info-banner h4 {
        font-size: 1.1em;
        margin-bottom: 2em;
    }

    .links-banner {
        flex-direction: column;
    }

    .links-banner a {
        width: 160px;
        height: 45px;
        font-size: 1em;
    }

    .info-banner .servicios {
        margin-bottom: 10px;
    }

    .logo {
        font-size: 1.5em;
    }

    .links-right li a {
        margin-left: 20px;
        font-size: 0.9em;
    }
}

@media screen and (max-width: 650px) {
    .info-banner {
        margin-left: 3em;
        margin-top: 11em;
    }

    .info-banner h1 {
        font-size: 2em;
    }

    .info-banner h1::before {
        width: 60px;
    }

    .info-banner h4 {
        font-size: 1.1em;
    }

    .links-banner a {
        width: 150px;
        height: 40px;
        font-size: 0.9em;
    }
}

@media screen and (max-width: 600px) {
    .toggle {
        display: block;
    }

    .banner-slider li img {
        filter: opacity(0.4);
    }

    .toggle:hover {
        cursor: pointer;
    }

    .navegation {
        height: 65px;
    }

    .logo {
        display: flex;
        position: relative;
        height: auto;
        justify-content: center;
        margin: 15px;
        margin-left: 3%;
        color: #fff;
        font-size: 1.7em;
    }

    .links-right {
        display: flex;
        position: relative;
        flex-direction: row;
        height: auto;
        margin: 15px;
        margin-left: 100%;
    }

    .links-right li a {
        margin-left: 25px;
        color: #fff;
        font-size: 1em;
    }

    .info-banner {
        width: 100%;
        text-align: center;
        justify-content: center;
        align-items: center;
        margin-left: 0;
        margin-top: 1em;
    }

    .info-banner h1 {
        width: 85%;
        font-size: 2.2em;
        margin-bottom: 1em;
    }

    .info-banner h1::before {
        left: 0;
        right: 0;
        margin: 0 auto;
        bottom: -6px;
        width: 80px;
        height: 4px;
    }

    .info-banner h4 {
        margin-bottom: 1em;
        font-size: 1.3em;
    }

    .links-banner {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .links-banner a {
        position: relative;
        width: 190px;
        height: 50px;
        font-size: 1.2em;
    }
}