* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

html {
    font-family: 'Roboto Condensed',
        sans-serif;
}

section {
    background-color: #222;
    overflow: hidden;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.banner {
    position: relative;
    display: flex;
    width: 100%;
    height: 100vh;
    flex-wrap: wrap;
    background-color: #111;
    overflow: hidden;
}

.banner-slider {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    padding: 0;
    width: 200%;
    height: 100%;
    animation: bannerSlider 10s infinite alternate;
}

@keyframes bannerSlider {
    0% {
        margin-left: 0;
    }

    25% {
        margin-left: 0;
    }

    50% {
        margin-left: 0;
    }

    75% {
        margin-left: -100%;
    }

    100% {
        margin-left: -100%;
    }
}

.banner-slider li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.banner-slider li img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.7);
}

.info-banner {
    position: relative;
    width: 55%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-left: 5em;
    margin-top: 13em;
}

.info-banner h1 {
    position: relative;
    width: 100%;
    height: auto;
    font-size: 2.5em;
    font-weight: 400;
    color: #fff;
    margin-bottom: 1.5em;
}

.info-banner h1::before {
    position: absolute;
    content: "";
    bottom: -10px;
    left: 0;
    width: 80px;
    height: 4px;
    background-color: #0079D4;
}

.info-banner h4 {
    position: relative;
    width: 70%;
    height: auto;
    font-size: 1.2em;
    margin-bottom: 2em;
    font-weight: 400;
    color: #fff;
    font-style: italic;
}

.links-banner {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.links-banner a {
    position: relative;
    width: 190px;
    height: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 1.2em;
    font-weight: 400;
    border-radius: 3px;
}

.info-banner .servicios {
    background-color: #0079D4;
    border: 2px solid #0079D4;
    margin-right: 5px;
}

.servicios:hover {
    background-color: transparent;
    transition-duration: .3s;
}

.info-banner .presupuesto {
    background-color: transparent;
    border: 2px solid #fff;

}

.presupuesto:hover {
    background-color: #fff;
    color: #111;
    transition-duration: .3s;
}

.navegation {
    display: flex;
    position: fixed;
    flex-direction: row;
    width: 100%;
    height: 80px;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    z-index: 1111;
    transition: .4s;
    padding-left: 10px;
    padding-right: 10px;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(20px);
    font-family: 'Roboto',
        sans-serif;
}

.navegation:hover {
    background: rgba(0, 0, 0, 0.8);
}

.navegation.scroll {
    height: 60px;
    background-color: rgba(0, 0, 0, 0.8);
}

.navegation.scroll:hover {
    height: 80px;
}

.navegation.scroll .logo {
    font-size: 2em;
}

.navegation.active {
    width: 100%;
    height: 100vh;
}

.links-right.active {
    position: absolute;
    top: 25%;
    left: 0;
    right: 0;
    margin: 0 auto;
    flex-direction: column;
    text-align: center;
    padding: 0;
}

.links-right.active li {
    margin-bottom: 1em;
    justify-content: center;
    align-items: center;
}

.links-right.active li a {
    font-size: 2.2em;
    margin-left: 0;
}

.toggle.active {
    bottom: 25%;
    font-size: 2em;
    display: flex;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.logo.active {
    display: none;
}

.logo {
    display: flex;
    position: relative;
    height: auto;
    justify-content: center;
    margin: 15px;
    color: #fff;
    font-size: 2.2em;
    transition: .4s;
    font-weight: 500;
}

.logo:hover {
    cursor: pointer;
}

.logo span {
    display: flex;
    justify-content: end;
    align-items: flex-end;
    font-size: 0.4em;
    margin-bottom: 4.3px;
    margin-left: -5px;
    color: #0079D4;
}

.links-right {
    display: flex;
    position: relative;
    flex-direction: row;
    height: auto;
    margin: 15px;
    color: #fff;
}

.links-right a:hover {
    color: #0079D4;
}

.links-right li a {
    margin-left: 25px;
    color: #fff;
    font-size: 1em;
}

.toggle {
    display: flex;
    justify-content: center;
    font-size: 1.8em;
    position: absolute;
    left: 90%;
    color: #fff;
    display: none;
}

.content {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 100vh;
}

.content img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-size: cover;
    filter: brightness(0.6);
}

.infoSections {
    display: flex;
    flex-direction: column;
    margin-top: 13em;
    margin-left: 5em;
    position: relative;
    width: 60%;
    height: 300px;
}

.Placas .infoSections {
    margin-left: 28em;
    align-items: flex-end;
}

.infoSections h3 {
    display: flex;
    position: relative;
    font-size: 3em;
    font-weight: 400;
    color: #fff;
    margin-bottom: 0.6em;
}

.infoSections h3::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50px;
    height: 3px;
    background-color: #0079D4;
}

.infoSections p {
    display: flex;
    position: relative;
    font-size: 1.3em;
    font-style: italic;
    color: #fff;
    margin-bottom: 2em;
    width: auto;
}

.infoSections a {
    border-radius: 3px;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    background-color: #0079D4;
    width: 190px;
    height: 46px;
    color: #fff;
    border: 2px solid #0079D4;
}

.infoSections a:hover {
    background-color: transparent;
    transition-duration: .3s;
}

/*-------------------------------------------- 
-------------- Scroll Animations -------------
----------------------------------------------*/
.info-banner h1[data-scroll="in"] {
    opacity: 1;
    transition-duration: 1s;
    transform: scale(1);
}

.info-banner h1[data-scroll="out"] {
    opacity: 0;
    transform: scale(0);
}

section img[data-scroll="in"] {
    opacity: 1;
    transition-duration: .4s;
    transition-delay: .4s;
}

section img[data-scroll="out"] {
    opacity: 0;
}

.infoSections[data-scroll="in"] {
    transition-duration: .7s;
    opacity: 1;
}

.infoSections[data-scroll="out"] {
    opacity: 0;
    transform: translateX(-20%);
}


.Placas .infoSections[data-scroll="in"] {
    transition-duration: .7s;
    opacity: 1;
}

.Placas .infoSections[data-scroll="out"] {
    opacity: 0;
    transform: translateX(20%);
}

.marcas {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 440px;
    background-color: #20232D;
}

.infoMarcas {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}

.infoMarcas h4 {
    font-size: 1.7em;
    text-transform: uppercase;
    color: #fff;
    margin-top: 2em;
}

.infoMarcas h4::before {
    content: "";
    position: absolute;
    display: flex;
    width: 50px;
    height: 3px;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: -10px;
    background-color: #0079D4;
}

.sliderMarcas {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 260px;
    margin-top: 2em;
}

.logosMarcas {
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 180px;
    height: 100px;
    margin: 10px;
}

.logosMarcas img {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 37px;
    object-fit: cover;
}

.logosMarcas:nth-child(2) {
    margin: -20px;
}

.logosMarcas:nth-child(3) {
    margin: -20px;
}

.logosMarcas:nth-child(4) {
    margin: 15px;
}

.logosMarcas:nth-child(5) {
    margin: -5px;
}

.logosMarcas:nth-child(6) {
    margin: 36px;
}

.logosMarcas:nth-child(2) {
    margin: -20px;
}

.logosMarcas:nth-child(2) img {
    height: 48px;
}

.logosMarcas:nth-child(3) img {
    height: 60px;
}

.logosMarcas:nth-child(4) img {
    height: 45px;
}

.logosMarcas:nth-child(5) img {
    height: 30px;
}

.logosMarcas:nth-child(6) img {
    height: 47px;
}

.infoMarcasF {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
}

.infoMarcasF p {
    font-size: 1.2em;
    color: #fff;
    font-family: 'Open Sans',
        sans-serif;
    font-style: italic;
}

footer {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 260px;
    background-color: #222;
}

.linksRedes {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 50%;
    height: 100px;
    margin-top: -4em;
}

.linksRedes p {
    display: flex;
    position: relative;
    justify-content: center;
    width: 100%;
    height: auto;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.2em;
    margin-bottom: 10px;
}

.linksRedes p::before {
    content: "";
    position: absolute;
    display: flex;
    width: 40px;
    height: 2px;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: -3px;
    background-color: #0079D4;
}

.footerRedes {
    position: relative;
    justify-content: center;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
}

.footerRedes li {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: #333;
    margin: 10px;
    border-radius: 50px;
    padding: 0;
    color: #fff;
}

.footerRedes li i {
    font-size: 1.5em;
    color: #fff;
}

.footerRedes li i:hover {
    font-size: 1.5em;
    color: #0079D4;
}

.footerRedes li:nth-child(1) {
    font-size: 0.9em;
}

.contact {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 50%;
    height: 100px;
    margin-top: -4em;
}

.contact p {
    display: flex;
    position: relative;
    justify-content: center;
    width: 100%;
    height: auto;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.2em;
    margin-bottom: 10px;
}

.contact p::before {
    content: "";
    position: absolute;
    display: flex;
    width: 40px;
    height: 2px;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: -3px;
    background-color: #0079D4;
}

.numContact {
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    color: #fff;
    margin-top: 10px;
}

.numContact li {
    margin-bottom: 3px;
}

.numContact li a {
    color: #fff;
    font-size: 0.95em;
}

.numContact li a:hover {
    color: #0079D4;
}

.numContact li span {
    font-size: 0.8em;
}

.copyright {
    display: flex;
    position: absolute;
    background-color: #111;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 30px;
    justify-content: center;
    bottom: 0;
}

.copyright p {
    font-size: 0.7em;
    color: #fff;
}

.contentFichas {
    padding-top: 10em;
    position: relative;
    display: flex;
    width: 100%;
    height: 400px;
    background-color: #444;
    justify-content: center;
}

.tablaClientes {
    width: 100%;
    height: 80px;
    background-color: #333;
    border-collapse: collapse;
}

.tablaClientes tr,
th {
    border: 1px solid #fff;
}

.tablaClientes th {
    height: 40px;
}

.tablaClientes th input {
    height: 80%;
    width: 90%;
    color: #000;
    font-size: 1em;
}

.tablaClientes button {
    width: 80px;
    height: 26px;
    border-radius: 3px;
    background-color: #0079D4;
    border: 2px solid #0079D4;
    color: #fff;
}

.tablaClientes button:hover {
    cursor: pointer;
    background-color: transparent;
    color: #fff;
}

#btnQuitar {
    background-color: #f44336;
    border: 2px solid #f44336;
}

#btnQuitar:hover {
    background-color: transparent;
    cursor: pointer;
    color: #fff;
}

.contentCalculadora {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    justify-content: center;
    background-color: #555;
    align-items: center;
    padding-bottom: 5em;
}

.contentCalculadora h3 {
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 3em;
    text-transform: uppercase;
}

.calculadora {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 70%;
    height: auto;
    margin-top: 3em;
}

.elementosCalc {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    width: 50%;
    height: auto;
    align-content: center;
    justify-content: center;
    padding-left: 5%;
    padding-right: 5%;
}

.elementosCalc input {
    left: 0;
    right: 0;
    height: 30px;
    width: 100px;
    margin: 0 auto;
}

.elementosCalc button {
    width: 45px;
    height: 45px;
    margin: 2px;
    background-color: #444;
    color: #fff;
    border-radius: 30px;
}

.elementosCalc p {
    display: flex;
    width: 100%;
    justify-content: center;
    font-size: 1.6em;
    text-transform: uppercase;
}

.elementosCalc button:nth-child(24) {
    height: 35px;
    width: 100%;
    margin-left: 40%;
    margin-right: 40%;
}

.elementosCalc button:hover {
    cursor: pointer;
    background-color: #666;
}

.elementosCalc p {
    color: #fff;
    margin: 2px;
}

.elementosCalc .oNum {
    font-size: 0.9em;
}

.tablaCalc {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 50%;
    height: 100px;
    margin-top: -10%;
}

.tablaCalc p {
    font-size: 1.5em;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 1em;
}

.cantP {
    display: flex;
    flex-direction: row;
}

#cantPlacas,
#precioPlacas {
    color: #f44336;
    margin-left: 5px;
}

/*------------------------------------------------
 -------------------- Galerías -------------------
 -------------------------------------------------*/

.galeriaEnSeco {
    display: flex;
    position: relative;
    width: 100%;
    height: 600px;
    flex-wrap: wrap;
    background-color: #111;
}

.galeriaEnSeco a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    z-index: 1111;
}

.galeriaEnSeco a:hover::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 120, 212, 0.308);
    z-index: 11;
    cursor: pointer;
    animation-duration: 1s;
}

.contentImages {
    display: flex;
    position: relative;
    justify-content: center;
    width: 400px;
    height: 300px;
    margin-top: 8%;
    animation-duration: 1s;
}

.eye {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 6em;
    transform: translateX(-50%) translateY(-50%);
    z-index: 11;
    color: rgba(255, 255, 255, 0.8);
    margin-top: 25%;
    z-index: 111;
    opacity: 0;
    transition-duration: .5s;
}

.eye:hover {
    cursor: pointer;
}

.galeriaEnSeco a:hover .eye {
    margin-top: 0;
    opacity: 1;
}

.zoomImage.active {
    display: block;
    position: fixed;
    height: auto;
    max-width: 800px;
    left: 50%;
    top: 50%;
    transform: scale(2);
    transform: translateX(-50%) translateY(-50%);
}

.zoomImage.active.active .eye {
    display: none;
}

.zoomImage.active:hover::before {
    background-color: transparent;
}

.contentImages img {
    position: relative;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    object-fit: cover;
    background-size: cover;
}

/*-------------------------------------------
 ---------------- Responsive ----------------
 --------------------------------------------*/
@media screen and (max-width: 760px) {
    .info-banner {
        margin-left: 4em;
        margin-top: 11em;
    }

    .info-banner h1 {
        font-size: 2.1em;
        margin-bottom: 1.5em;
    }

    .info-banner h1::before {
        width: 100px;
    }

    .info-banner h4 {
        font-size: 1.1em;
        margin-bottom: 2em;
    }

    .links-banner {
        flex-direction: column;
    }

    .links-banner a {
        width: 160px;
        height: 45px;
        font-size: 1em;
    }

    .info-banner .servicios {
        margin-bottom: 10px;
    }

    .logo {
        font-size: 1.5em;
    }

    .links-right li a {
        margin-left: 20px;
        font-size: 0.9em;
    }

    .contentCalculadora {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        justify-content: center;
        background-color: #555;
        align-items: center;
        padding-bottom: 5em;
    }

    .contentCalculadora h3 {
        font-size: 2.5em;
    }

    .calculadora {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 80%;
        height: auto;
        margin-top: 3em;
    }

    .elementosCalc {
        width: 60%;
        padding-left: 0;
        padding-right: 0;
    }

    .elementosCalc button {
        width: 43px;
        height: 43px;
    }

    .elementosCalc p {
        display: flex;
        width: 100%;
        justify-content: center;
        font-size: 1.2em;
        text-transform: uppercase;
    }

    .elementosCalc button:nth-child(24) {
        height: 35px;
        width: 100%;
    }

    .elementosCalc button:hover {
        cursor: pointer;
        background-color: #666;
    }

    .elementosCalc p {
        color: #fff;
        margin: 2px;
    }

    .elementosCalc .oNum {
        font-size: 0.9em;
    }

    .tablaCalc {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
        margin-top: 2%;
        text-align: center;
    }

    .tablaCalc p {
        font-size: 1.3em;
        margin-bottom: 0.1em;
    }
}



@media screen and (max-width: 650px) {
    .info-banner {
        margin-left: 3em;
        margin-top: 11em;
    }

    .info-banner h1 {
        font-size: 2em;
    }

    .info-banner h1::before {
        width: 60px;
    }

    .info-banner h4 {
        font-size: 1.1em;
    }

    .links-banner a {
        width: 150px;
        height: 40px;
        font-size: 0.9em;
    }
}

@media screen and (max-width: 600px) {
    .toggle {
        display: block;
    }

    .banner-slider li img {
        filter: opacity(0.4);
    }

    .toggle:hover {
        cursor: pointer;
    }

    .navegation {
        height: 65px;
    }

    .navegation.active.scroll {
        height: 100vh;
    }

    .logo {
        display: flex;
        position: relative;
        height: auto;
        justify-content: center;
        margin: 15px;
        margin-left: 3%;
        color: #fff;
        font-size: 1.7em;
    }

    .logo span {
        margin-bottom: 3.4px;
        margin-left: -3px;
        color: #0079D4;
    }

    .links-right {
        display: flex;
        position: relative;
        flex-direction: row;
        height: auto;
        margin: 15px;
        margin-left: 100%;
    }

    .links-right li a {
        margin-left: 25px;
        color: #fff;
        font-size: 1em;
    }

    .info-banner {
        width: 100%;
        text-align: center;
        justify-content: center;
        align-items: center;
        margin-left: 0;
        margin-top: 0;
    }

    .info-banner h1 {
        width: 85%;
        font-size: 2.5em;
        margin-bottom: 1.5em;
    }

    .info-banner h1::before {
        left: 0;
        right: 0;
        margin: 0 auto;
        bottom: -6px;
        width: 80px;
        height: 4px;
    }

    .info-banner h4 {
        margin-bottom: 1em;
        font-size: 1.3em;
    }

    .links-banner {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .links-banner a {
        position: relative;
        width: 190px;
        height: 50px;
        font-size: 1.2em;
    }

    .infoSections {
        display: flex;
        flex-direction: column;
        margin-top: 12em;
        margin-left: 3.6em;
        position: relative;
        width: 80%;
        height: auto;
        align-items: flex-end;
    }

    .Placas .infoSections {
        margin-left: 3.6em;
        align-items: flex-end;
    }

    .infoSections h3 {
        display: flex;
        position: relative;
        text-align: end;
        font-size: 3em;
        font-weight: 400;
        color: #fff;
        margin-bottom: 0.6em;
        width: 100%;
    }

    .infoSections h3::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 79.4%;
        width: 20%;
        height: 3px;
        background-color: #0079D4;
    }

    .infoSections p {
        display: flex;
        position: relative;
        align-items: flex-end;
        text-align: end;
        font-size: 1.3em;
        font-style: italic;
        color: #fff;
        margin-bottom: 2em;
        width: 100%;
        width: auto;
    }

    .infoSections a {
        border-radius: 3px;
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
        font-size: 1.2em;
        background-color: #0079D4;
        width: 190px;
        height: 46px;
        color: #fff;
        border: 2px solid #0079D4;
    }

    .infoSections[data-scroll="in"] {
        transition-duration: .7s;
        opacity: 1;
    }

    .infoSections[data-scroll="out"] {
        opacity: 0;
        transform: translateX(30%);
    }

    .marcas {
        height: auto;
        padding-bottom: 1.5em;
    }

    .infoMarcas h4 {
        text-align: center;
        width: 100%;
        margin-top: 1em;
    }

    .sliderMarcas {
        height: 400px;
        margin-top: 2em;
    }

    .logosMarcas {
        width: 180px;
        height: 100px;
        margin: 10px;
    }

    .logosMarcas img {
        height: 35px;
    }

    .logosMarcas:nth-child(1) {
        margin: 5px;
    }

    .logosMarcas:nth-child(2) {
        margin: 5px;
    }

    .logosMarcas:nth-child(3) {
        margin: 5px;
    }

    .logosMarcas:nth-child(4) {
        margin: 5px;
    }

    .logosMarcas:nth-child(5) {
        margin: 5px;
    }

    .logosMarcas:nth-child(6) {
        margin: 5px;
    }

    .logosMarcas:nth-child(1) img {
        height: 28px;
    }

    .logosMarcas:nth-child(2) img {
        height: 44px;
    }

    .logosMarcas:nth-child(3) img {
        height: 56px;
    }

    .logosMarcas:nth-child(4) img {
        height: 41px;
    }

    .logosMarcas:nth-child(5) img {
        height: 26px;
    }

    .logosMarcas:nth-child(6) img {
        height: 43px;
    }

    footer {
        flex-direction: column;
        background-color: #222;
        height: auto;
    }

    .linksRedes {
        width: 100%;
        height: 100px;
        margin-top: 4em;
    }

    .linksRedes p {
        font-size: 1.4em;
    }

    .footerRedes li {
        width: 45px;
        height: 45px;
        margin: 15px;
    }

    .footerRedes li i {
        font-size: 1.6em;
    }

    .footerRedes li i:nth-child(1) {
        font-size: 1.5em;
    }

    .contact {
        display: flex;
        flex-direction: column;
        position: relative;
        width: 100%;
        height: auto;
        margin-top: 4em;
        padding-bottom: 5em;
    }

    .contact p {
        font-size: 1.4em;
    }

    .numContact li {
        margin-bottom: 5px;
    }

    .numContact li a {
        font-size: 1.2em;
    }

    .numContact li span {
        font-size: 0.85em;
    }

    .numContact li i {
        margin-right: 3px;
    }

    .copyright p {
        font-size: 0.8em;
    }

    .contentCalculadora h3 {
        width: 100%;
        font-size: 2.5em;
        margin-top: 0.6em;
    }

    .calculadora {
        flex-direction: column;
        width: 100%;
        margin-top: 2em;
    }

    .elementosCalc {
        width: 80%;
        padding-left: 0%;
        padding-right: 0%;
    }

    .elementosCalc button {
        width: 55px;
        height: 55px;
    }

    .elementosCalc p {
        font-size: 1.5em;
    }

    .elementosCalc button:nth-child(24) {
        height: 36px;
        margin-left: 35%;
        margin-right: 35%;
    }

    .elementosCalc .oNum {
        font-size: 1em;
    }

    .tablaCalc {
        width: 100%;
        height: auto;
        margin-top: 5%;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .tablaCalc p {
        font-size: 1.3em;
        margin-bottom: 0.2em;
    }
}